---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--surface-color);
		box-shadow: var(--surface-shadow);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		color: rgb(var(--black));
		text-decoration: none;
	}
	nav {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.25em 0;
	}
	h2 {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	.internal-links {
		display: flex;
		justify-content: center;
	}
	nav a {
		padding: 1em 0.5em;
		color: rgb(var(--black));
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	@media (max-width: 720px) {
		nav {
			position: static;
			gap: 0.5em;
			flex-direction: column;
		}
		h2 {
			position: static;
			transform: none;
		}
		.internal-links {
			flex-wrap: wrap;
		}
	}
</style>
